body {
margin: 0%;
background: #DCDCDC;
}
.logo-title {
border-radius: 167px;
background-image: url(../svg/верхний\ логотип.svg);
position: absolute;
width: 178.45px;
height: 70px;
left: 138px;
top: 10px;
}
.header {
position: absolute;
width: 1920px;
height: 90px;
left: 0px;
top:0px;
background: #202846;
}
.header-menu {
position: absolute;
width: 1066px;
height: 57px;
left: 609px;
top: 17px;
color: #FFFFFF;
}
.menu-box {
list-style-type: none;
display: flex;
justify-content: space-between;
}
.logo-title2 {
position: absolute;
left: 1739px;
top: 8px;
list-style-type: none;
display: flex;
justify-content: space-between;
align-items: center;
color: #FFFFFF;
}
.menu-box2 {
position: absolute;
width: 1920px;
height: 140px;
top: 89px;
font-family: 'PT Sans';
font-style: italic;
font-size: 48px;
background: #C6C6DC;


}
.menu-box2-text {
margin-left: 227px;
}

.menu-box3 {
box-sizing: border-box;
position: absolute;
width: 1489px;
height: 73px;
left: 216px;
top: 285px;
color:rgba(0, 0, 0, 0.61) ;
background: #E8E8E8;
border: 1px solid #000000;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
text-align: center;
font-family: 'PT Sans';
font-size: 28px;
padding-top: 15px;
}
.strela {
position: absolute;
left: 1657px;
top: 312px;
}
.cards{
display: flex;
position: absolute;
width: 1920px;
height: 1899px;
}
.card-section1 {
position: absolute;
width: 1489px;
height:300px;
left: 210px;
top: 414px;
background: #AEAEE2;
box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
}
.card-section2 {
position: absolute;
width: 1489px;
height: 300px;
left: 210px;
top: 750px;
background: #AEAEE2;
box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);}

.card-section3 {
position: absolute;
width: 1489px;
height: 300px;
left: 210px;
top: 1080px;
background: #AEAEE2;
box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
}
.card-section4 {
position: absolute;
width: 1489px;
height: 300px;
left: 210px;
top: 1416px;
background: #AEAEE2;
box-shadow: 5px 5px 30px rgba(0, 0, 255, 0.25);
}
.card-img {
position: absolute;
margin-left: 85px;
margin-top: 27px;
}
.card-header {
font-family: 'PT Sans';
font-style: italic;
font-weight: bold;
font-size: 36px;

position: absolute;
margin-left: 665px;
margin-top: 20px;
text-align: center;
color: #353C57;
}
#rectangle {
position: absolute;
height: 3px;
width: 712px;
background: #FFFFFF;
margin-left: 665px;
margin-top: 70px;
}
.card-text {
text-align: center;
width: 712px;
height: 184px;
color: #202846;
display: flex;
align-items: center;
margin-left: 665px;
margin-top: 87px;
background: #D7D7DD;
}
.svg-star { 
fill: #FFFFFF;
} 
.cards :hover .svg-star {
fill: #FFFF00;}
.button {
position: absolute;
display: inline-flex;
    align-items: center;
    justify-content: center;
width: 200px;
height: 60px;
background: #3750AD;
font-family: 'PT Sans';
font-size: 24px;
color: #FFFFFF;
text-align: center;
text-decoration: none;
border-radius: 50px;
left: 1350px;
top: 0%;
margin-top: 230px;
}
.cards :hover .button {
background-color: #EF075B;
transition: .1s linear;
}
.strela-big {
position: absolute;
top: 1350px;
left: 1750px
}
.vizitka {
position: absolute;
width: 1920px;
height: 1200px;
background: #DCDCDC;
left: 0px;
top: 1820px;
}
.menu-box4 {
position: absolute;
width: 1920px;
height: 140px;
left: 0px;
top: 90px;
font-family: 'PT Sans';
font-style: italic;
font-size: 48px;
background: #C6C6DC;
}
.vizitka-box {
position: absolute;
display: flex;
width: 1318px;
height: 450px;
left: 319px;
top: 271px;
background: #BDBDC6;
}
.foto {
position: absolute;
left: 167px;
top: 50px;
}
.bottom-small1 {
display: inline-flex;
align-items: center;
justify-content: center;
width: 250px;
height: 50px;
background: #69749B;
border-radius: 50px;
margin-top: 270px;
margin-left: 140px;
font-size: 24px;
color: #FFFFFF;
}
.bottom-small2 { 
position: absolute;
display: inline-flex;
align-items: center;
justify-content: center;
width: 250px;
height: 50px;
background: #69749B;
border-radius: 50px;
margin-top: 350px;
margin-left: 140px;
font-size: 24px;
color: #FFFFFF;
}
.name {
position: absolute;
left: 650px;
top: 40px;
font-size: 25px;
font-family: 'PT Sans';
font-style: italic;
color: #353C57;
}
.vizitka :hover.bottom-small2 {
background-color: #EF075B;
transition: .1s linear;
}
.vizitka :hover.bottom-small1 {
background-color: #EF075B;
transition: .1s linear;
}
.bottom-small3 {
position: absolute;
display: inline-flex;
align-items: center;
justify-content: center;
width: 200px;
height: 55px;
background: #202846;
font-family: 'PT Sans';
font-size: 24px;
color: #FFFFFF;
text-decoration: none;
border-radius: 50px;
left: 660px;
margin-top: 480px;
}
.contacts {
position: absolute;
width: 1920px;
height: 140px;
top: 1010px;
font-family: 'PT Sans';
font-style: italic;
font-size: 48px;
background: #BDBDC6;
}
.contacts-text {
position: absolute;
width: 1920px;
height: 750px;
display: flex;
}
.img5 {
position: absolute;
left: 960px;
top: 3300px;
border: 3px solid rgba(0, 0, 0, 0.05);
border-radius: 40px;
}
.tel {
position: absolute;
width: 250px;
left: 439px;
top: 3050px;
font-family: 'PT Sans';
font-size: 30px;
color: #000000;

}
.adress {
position: absolute;
width: 250px;
left: 439px;
top: 3350px;
font-family: 'PT Sans';
font-size: 30px;
color: #000000;
}
.email {
position: absolute;
width: 250px;
left: 1250px;
top:3050px;
font-family: 'PT Sans';
font-size: 30px;
}
.work {
position: absolute;
width: 250px;
left: 870px;
top: 3050px;
font-family: 'PT Sans';
font-size: 30px;
}
.footer {
position: absolute;
display: flex;
width: 1920px;
height: 90px;
left: 0px;
top: 3720px;
background: #202846;}
.footer-text {
display: flex;
align-items: center;
font-family: 'PT Sans';
font-style: italic;
font-size: 36px;
margin-left: 60px;
color: #EEECF1;}

