
html {
font-size: 10px;
}
body {
background:#212529;
margin:0;
padding: 0;
min-height: 100vh;
}
ul,li {
margin: 0;
padding: 0;
}

/*панель навигации-1 логотип,меню навигации,кнопка--->*/
header {
margin-top: 2rem;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
justify-content:space-between ;
align-items: center;
}
.logo_1 {
margin-left: 4rem;
max-width: 100%;
}
nav>ul {
list-style-type: none;
display: flex;
justify-content: center;
}
nav>ul>li>a {
text-decoration: none;
font-family: 'Poppins';
font-weight: 600;
font-size: 1.8rem;
color: #FFFFFF;
padding: 1rem 2rem;
}
ul :hover a {
color:rgba(255, 183, 66, 1);
transition: .3s;
}

.header_button a {
background: #FFB742;
border: 2px solid #FFB742;
border-radius: 50px;
padding:12px 20px 12px 20px;
margin-right: 4rem;
font-family: 'Poppins';
font-weight: 700;
font-size: 1.8rem;
text-decoration: none;
color: rgba(33, 37, 41, 1);
}
/*!--блок с текстом приветствие и аватаркой-->*/
.avatar-text-block {
text-align: center;
text-transform: capitalize;
margin-top: 11rem;
}
.paragraph1{
font-family: 'Inter';
font-weight: 700;
font-size: 3.2rem;
color: #FFFFFF;
}
.name {
text-decoration-line: underline;
color: #FFB742;
}
.name_img {
color: #FFB742;
}
.paragraph2 {
font-family: 'Inter';
font-weight: 700;
font-size: 4.8rem;
color: #FFFFFF;
}
.paragraph3 {
font-family: 'Inter';
font-weight: 400;
font-size: 2.4rem;
color: #FFFFFF;
}
.avatar_1 {
margin-top: 3rem;
display: flex;
justify-content: center;
}
/*!--блок с карточками-->*/
.cards_container {
margin-top: 14rem;
display: flex;
flex-direction: row;
justify-content: space-around;

}
.cards {
width: 30%;  
height: 12rem;
background:rgba(56, 62, 69, 0.44);
border-radius: 10px;
display: flex;
justify-content: space-around;
text-align: center;
text-transform: capitalize;
align-items: center;
font-family: 'Inter';
font-weight: 700;
font-size: 16px;
color: rgba(255, 255, 255, 1);
}
.cards_paragraph {
font-family: 'Inter';
font-weight: 700;
font-size: 32px;
}
.cards_container :hover {
 background-color:rgba(255, 183, 66, 1);   
}
.cards_container :hover .cards_paragraph {
color:#000000;
}
/*!--блок с аватаркой-2-->*/

.avatar_text_block2{
margin: 14rem 5rem 0 5rem;
display: flex;
align-items: flex-start;
}
.avatar_text_section {
margin-left: 4rem;
}
.paragraph4 {
font-family: 'Poppins';
font-weight: 600;
font-size: 2rem;
text-transform: uppercase;
text-align: center;
color: #FFB742;
background: rgba(255, 255, 255, 0.08);
border-radius: 50px;
width: 14rem;
margin-top: 10rem;
}
:hover div .paragraph7 {
cursor: pointer;
}
.paragraph5 {
font-family: 'Roboto';
font-weight: 700;
font-size: 4.8rem;
color: #FFFFFF;
margin-top: 1rem;
}
.paragraph6 {
font-family: 'Poppins';
font-weight: 400;
font-size: 1.6rem;
color: #D5D5D5;
margin-top: 3rem;
padding-bottom: 5rem;
}
/* !--блок с навигацией и фото-->*/
.text_block {
display: flex;
flex-direction: column;
align-items: center;
}
.paragraph7 {
font-family: 'Poppins';
font-weight: 600;
font-size: 2rem;
text-transform: uppercase;
color: #FFB742;
background: rgba(255, 255, 255, 0.08);
border-radius: 50px;
width: 14rem;
margin-top: 5rem;
display: flex;
justify-content: center;
}
.nav2 {
margin-right: 6rem;
margin-top: 3.5rem;
}
.nav2>ul> :hover a {
background: #FFB742;
color: #212529;
border-radius: 3px;
padding: 0.5rem 2rem;
transition: 0.3s;
}
.img_block_1 {
display: flex; 
justify-content: space-around;
margin:5rem 7rem 0 7rem;
}
.img_block_2 {
display: flex;
justify-content: space-around;
margin:1.5rem 7rem 12rem 7rem;
}
/*footer----------------*/

.footer_block {
margin-top: auto;
width: 100%;
background:  rgba(28, 28, 28, 1);
display: flex;
flex-direction: row;
justify-content: space-around;
padding-bottom: 9rem;
}
.footer_name {
margin-top: 14rem;
}
.title_1 {
font-family: 'Poppins';
font-weight: 700;
font-size: 3.2rem;
color:rgba(255, 183, 66, 1);
}
.title_text_1 {
font-family: 'Work Sans';
font-weight: 600;
font-size: 1.6rem;
color: rgba(212, 212, 212, 1);
}
.title_2 {
font-family: 'Work Sans';
font-weight: 700;
font-size: 2.1rem;
color: #F5FBF2;
}
.title_text_2 {
font-family: 'Work Sans';
font-weight: 500;
font-size: 1.7rem;
color: #7B7B7B;
}
.title_text_2 a {
text-decoration: none;
color: rgba(123, 123, 123, 1);
}
.title_text_3 {
font-family: 'Work Sans';
font-weight: 500;
font-size: 1.7rem;
color: #7B7B7B;
margin-left: 2rem;
}
.title_text_3 a {
text-decoration: none;
color: rgba(123, 123, 123, 1);
}
div>ul {
list-style-type: none;
}
div>ul>li {
margin-bottom: 1rem;
}
.footer_links,
.footer_media,
.footer_news {
margin-top: 15rem;
}