* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}
body {
    background-color: #498e99;
    margin: 0;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 144rem;
    height: 124rem;
    /*outline: solid;*/
    padding: 4rem 2rem 4rem 2rem;
}

.block {
height: 100%;
box-shadow: 0 5px 45px rgba(0, 0, 0, 0.5);
display: flex;
}
:hover .block { 
border: 2px solid rgba(40, 53, 241, 0.5);
transition: 0.1s;
}

.container_form_inside {
    width: 55%;
    height: 100%;
    background-color: #fff;
    text-align: center;
}
.img {
margin-top: 2rem;
margin-right: 50rem;
}
.title {
    
   /* text-align: center;*/
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 2.4rem;
    color: #000000;
    margin-top: 20rem;
    padding-bottom: 8rem;
}
.form__group > select {
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 1.6rem;
    color: #000000;
   margin-bottom: 2.5rem;
line-height: inherit;
}
.form_item_text {
font-family: 'Space Grotesk';
font-weight: 400;
font-size: 1.6rem;
color: #000000;
text-align:start ;
margin-left: 16rem;
}

.footer { 
font-family: 'Space Grotesk';
font-weight: 700;
font-size: 1.6rem;
color: #C4C4C4;
filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
 margin-top: 4rem;  
}
.login {
font-family: 'Space Grotesk';
font-weight: 700;
font-size: 1.6rem;
text-decoration-line: underline;
color: #476D73;
}
.login > a {
color: rgba(71, 109, 115, 1);
}
input , select {
    width: 40rem;
    height: 4rem;
    
}

.prompt {
    font-family: 'Space Grotesk';
    font-weight: 400;
    font-size: 1.2rem;
    color: #CCCCCC;
}

.btn {
    width: 40rem;
    height: 4rem;
    border: 1px solid;
    background: rgba(40, 74, 94, 1);
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
    margin-top: 2rem;
}

.container_text_inside {

    width: 45%;
    height: 100%;
    background: linear-gradient(162.21deg, #517879 4.83%, #1E3E57 103.44%);
    filter: blur(.5px);
    text-align: center;
}

ul {
    font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 1.6rem;
    list-style-type: none;
    display: flex;
    justify-content: end;
    margin: 2rem 5rem 0 0;
}

ul>li>a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 2.5rem;
    
}
.nav_centre_text {
font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 6.4rem;
    color:rgba(255, 255, 255, 1);
    opacity: 0.6;
text-shadow: 7px 4px 1px rgba(51, 51, 51, 0.5);
margin-top: 37rem;
text-align: left;
margin-left: 9.5rem;
}
.albert {
font-family: 'Space Grotesk';
    font-weight: 700;
    font-size: 1.6rem;
 color:rgba(255, 255, 255, 1);
 text-align: left;
 margin-left: 9.5rem;
}