.ukraine {
   position: absolute;
   width: 411px;
   height: 65px;
   left: 514px;
   top: 18px;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 48px;
   line-height: 135.02%;
   color: #0BBBD3;}

.black {color: black;}

:hover {
    text-decoration: underline;color:#0BBBD3 ;}

.sobor {
    background-image:url(../IMG/Успенський\ собор_фон.jpg);
    position: absolute;
    width: 1440px;
    height: 852px;
    left: 0px;
    top: 123px;}

.sobor-text {
    width: 715px;
    height: 321px;
    left: 163px;
    top: 351px;
    padding: 210px 0 0 150px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 167.02%;
    color: #FFFFFF}

.flag {
    position: absolute;
    width: 24px;
    height: 388px;
    left: 80px;
    top: 180px;}

.paragraf-text {
    position: absolute;
    width: 361px;
    height: 64px;
    left: 80px;
    top: 1000px;
    margin-top: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 167.02%;
    color: #000000;}

#rectangle {
    position: absolute;
    width: 361px;
    height: 5px;
    left: 80px;
    top: 1120px;
    background: #33B8F1;}

.block-sad {
    position: absolute;
    width: 399px;
    height: 481px;
    left: 80px;
    top: 1221px;
    background: #FFFEFE;
    box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;}

.block-zagolovok-sad {
    position: absolute;
    width: 267px;
    height: 60px;
    left: 80px;
    top: 1450px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 167.02%;
    /* or 60px */
    color: #33B8F1;}

.block-text-sad {
    position: absolute;
    width: 396px;
    height: 149px;
    left: 83px;
    top: 1531px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 167.02%;
    /* or 53px */
    color: #595050;}

.cursor1 {
    position: absolute;
    width: 64px;
    height: 68px;
    left: 344px;
    top: 1515px;
    border-radius: 20px;
    transform: rotate(1deg);}

.block-france {
    position: absolute;
    width: 399px;
    height: 481px;
    left: 518px;
    top: 1221px;
    background: #FFFEFE;
    box-shadow: 0px 4px 6px 5px rgba(0, 0, 0, 0.25);
    border-radius: 30px;}

.block-zagolovok-france {
    position: absolute;
    width: 404px;
    height: 60px;
    left: 518px;
    top: 1450px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 167.02%;
    /* or 60px */
    color: #030303;}

.block-text-france {
    position: absolute;
    width: 396px;
    height: 55px;
    left: 518px;
    top: 1567px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 167.02%;
    color: #595050;}

.block-lopan {
    position: absolute;
    width: 408px;
    height: 481px;
    left: 952px;
    top: 1221px;
    background: #FFFEFE;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.25);
    border-radius: 30px;}

.block-zagolovok-lopan {
    position: absolute;
    width: 408px;
    height: 59px;
    left: 952px;
    top: 1450px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 165.02%;
    color: #040505;} 

.block-text-lopan {
    position: absolute;
    width: 396px;
    height: 73px;
    left: 964px;
    top: 1568px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 167.02%;
    color: #595050;}  
.paragraf-text2 { 
    position: absolute;
    width: 473px;
    height: 64px;
    left: 464px;
    top: 1710px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 167.02%;
    color: #000000;}

.img {
    position: absolute;
    left: 520px;
    top: 1841px;} 

.serdce { 
    background-image: url(../IMG/желтое\ сердце.png);
    position: absolute;
    width: 973px;
    height: 877px;
    left: 233px;
    top: 1888px;}

.blue-banner {
    position: absolute;
    width: 380px;
    height: 74px;
    left: 464px;
    top: 2711px;
    background: #33ADF1;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 80px;
    color: #fff;
    padding: 6px 50px 6px 100px;}

.blue-banner2 {
    position: absolute;
    width: 1440px;
    height: 405px;
    left: 0px;
    top: 2967px;
    background: #0A2DA9;}
.white {
    color:#F8F5F5;}

.blue-banner-zagolovok { 
   text-align: center;
   font-family: 'Inter';
   font-style: normal;
   font-weight: 400;
   font-size: 64px;
   line-height: 86px;
   color: #0BBBD3; }
.blue-banner-text {
    position: absolute;
    left: 577px;
    top: 180px;
    font-family: 'Inder';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    color: #353949;}

.grey {color: #1d202c;}

.sotial { 
    left:490px;
    top: 350px;
    margin: left 120px;
    list-style-type: none;}

.tw {
    position: absolute;
    width: 41px;
    height: 37px;
    left: 490px;
    top: 350px; }
.tg 
    {position: absolute;width: 52px;
    height: 47px;
    top:350px;
    left:605px;}

.insta {
   position: absolute;
   width: 52px;
   height: 47px;
   left: 731px;
   top: 350px; }

.fb {
   position: absolute;
   width: 45px;
   height: 43px;
   left: 864px;
   top: 350px;}








    
   

      

                


